@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 20px;
    background: #5CA4A9;
}

header{
    text-align: center;
    color: white;
    background: #5CA4A9;
}

header h1{
    font-size: 50px;
}

.card{
    background-color: #9bc1bc;
    padding: 20px;
    margin-top: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background: #f4f1bb;
    margin-top: 20px;
}

footer a{
    color: #5CA4A9;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    
}